/* reset bootstrap */
.navbar-toggler:focus,
.btn:focus {
    box-shadow: none;
}

body {
    background-color: #eeeeee;
}
header {
    background-color: #fff;
}
footer {
    margin-bottom: 20px;
}
.copyright {
    font-size: 0.75rem;
}

.header-main {
    padding: 15px 0;
}

.nav-main {
    margin-top: 3px;
}

.lead.lead-brand {
    font-size: 1.7rem;
}

.lead.lead-link {
    color: inherit;
    text-decoration: none;
}

.row.row-align-middle {
    align-items: center;
}

.content {
    margin-bottom: 30px;
}

.title-main {
    margin-top: 30px;
    margin-bottom: 20px;
    color: #999;
    font-weight: 100;
}

.container {
    width: 992px;
}

@media screen and (min-width: 768px) {
    .container-md {
        width: 992px;
    }
}

@media screen and (min-width:  992px) {
    .container-lg {
        width: 992px;
    }
}

@media screen and (min-width: 1200px) {
    .cards {

    }

    .title-main.title-recent-tickets {
        margin-top: 50px;
    }
}

.cards.closed-cards {

}

.card-votes {
    position: absolute;
    right: 15px;
    bottom: 15px;
}

.card,
.card-list-item {
    transition: all 200ms;
}

.card:hover {
    cursor: pointer;
    background-color: rgba(255, 255, 255, .5);
}

.card-list-item:hover {
    cursor: pointer;
    background-color: rgba(230, 230, 230, .5);
}

.card-doer {
    margin-bottom: 7px;
}

.card-label {
    font-size: 12px;
    font-style: italic;
    color: #aeaeae;
}
.card-label.card-status {
}

.card-ticket + .card-ticket {
    margin-top: 10px
}

.card-town,
.card-geo {
    font-size: 14px;
}

.card.card-top-companies {
    background-color: #fffff5;
    border-radius: 0;
}
.card.card-top-companies .card-notice {
    font-size: 12px;
}
.card.card-top-companies .card-counter {
    font-weight: bold;
}
.card.card-top-companies .card-title {
    font-size: 16px;
    font-weight: 500;
}
.card.card-top-companies .card-body {
    padding: .7rem .5rem;
}

.card-list {

}
.card-list-item + .card-list-item {
    border-top: 1px dashed #ccc;
}

.navbar-header-right {
    padding: 0;
}

input[type=text], input[type=email], input[type=datetime-local], input[type=tel],  input[type=number], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=submit] {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #45a049;
}

.div-form {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
}

.content a:link, .content a:visited {
    background-color: #4CAF50;
    color: white;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

.content a:hover, .content a:active {
    background-color: #45a049;
}

.div-result-create-user{
    padding-top: 5%;
    padding-left: 20%;
    padding-bottom: 5%;
}

.dropdown {
    position: relative;
    display: inline-block;
}

/* Style The Dropdown Button */
.dropbtn {
    /*background-color: #4CAF50;*/
    color: #0a58ca;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #f1f1f1}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
    background-color: #f1f1f1;
}
