<!doctype html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">

    <!-- Left navigation -->
    <ul class="nav nav-main dropdown" th:fragment="left-navigation">
        <button class="btn dropdown-toggle dropbtn">Explore</button>
        <li class="nav-item dropdown-content">
            <a class="nav-link" th:href="@{/companyAll}">Компании</a>
            <a class="nav-link" th:href="@{/ticketAll}">Заявки</a>
            <a class="nav-link" th:href="@{#}">Explore3</a>
        </li>
    </ul>

    <!-- Right navigation -->
    <ul class="nav nav-main justify-content-end" th:fragment="right-navigation">
        <li class="nav-item">
            <a class="nav-link" th:href="@{/login}">Log In</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" th:href="@{/createUserOrCompany}">Sign Up</a>
        </li>
    </ul>
</html>