<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      th:replace="~{layouts/main-layout :: main-fragment(
                                                ~{:: title},
                                                ~{:: #content},
                                                ${isAnonymous},
                                                ${authUser}
                                               )}" lang="ru">
<head>
    <title>Appeal application</title>
</head>
<body>
    <!-- Content -->
    <div id="content" class="content">
        <div class="container-md">
            <div class="row">
                <div class="col-lg-9">
                    <h5 class="title-main">Closed tickets</h5>
                    <div class="cards closed-cards">
                        <div class="card card-ticket" th:each="closedTicket: ${closedTickets}">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-8">
                                        <h5 class="card-title" th:text="${closedTicket.getTitles()}"></h5>
                                        <p class="card-text" th:text="${closedTicket.getDescription()}">В северной части города нет ни одного магазина одежды.</p>
                                        <div class="card-geo">
                                            <em class="bi bi-geo-alt-fill text-danger"></em> <span class="card-town" th:text="${closedTicket.getCityDTO().getCityName()}"></span>
                                        </div>
                                    </div>
                                    <div class="col-4">
                                        <div class="float-end">
                                            <div class="card-doer text-end">
                                                <span class="badge bg-success">Closed</span> <span class="card-label">by</span> <span class="text-primary" th:text="${closedTicket.getCompanyDTO().getTitle()}"></span>
                                            </div>
                                            <div class="card-votes text-end" th:classappend="${closedTicket.getLikes() > 0} ? 'text-success' : 'text-danger'">
                                                <em class="bi bi-heart"></em> <span class="likes" th:text="${closedTicket.getLikesString()}"></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <h5 class="title-main title-recent-tickets">Recent tickets</h5>
                    <div class="cards recent-cards">
                        <div class="card card-ticket" th:each="recentTicket: ${recentTickets}">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-8">
                                        <h5 class="card-title" th:text="${recentTicket.getTitles()}"></h5>
                                        <p class="card-text" th:text="${recentTicket.getDescription()}"></p>
                                        <div class="card-geo">
                                            <em class="bi bi-geo-alt-fill text-danger"> </em><span class="card-town" th:text="${recentTicket.getCityDTO().getCityName()}"></span>
                                        </div>
                                    </div>
                                    <div class="col-4">
                                        <div class="float-end">
                                            <div class="card-doer">
                                                <span class="badge bg-primary">Open</span>
                                            </div>
                                            <div class="card-votes text-end" th:classappend="${recentTicket.getLikes() > 0} ? 'text-success' : 'text-danger'">
                                                <em class="bi bi-heart"></em> <span class="likes" th:text="${recentTicket.getLikesString()}"></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3">
                    <h5 class="title-main">Top companies</h5>
                    <div class="card card-top-companies">
                        <div class="card-list">
                            <div class="card-list-item card-body text-center" th:each="topCompany : ${topCompanies}">
                                <span class="card-title" th:text="${topCompany.getTitle()}"></span>
                                <div class="text-center">
                                    <i class="bi bi-bookmark-check text-warning"></i>
                                    <b class="text-warning" data-bs-toggle="tooltip" data-bs-placement="right" title="Исполненных заявок" th:text="${topCompany.getCountClosedTickets()}"></b>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>