<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      th:replace="~{layouts/main-layout :: main-fragment(
                                                ${title},
                                                ~{:: #content}
                                               )}" lang="ru">
<body>
    <div id="content" class="container text-center">
        <h1 class="display-1">Hi!</h1>
        <p class="display-6">Appeal application loaded <i class="bi bi-check2 text-success"></i></p>
    </div>
</body>
</html>